.App {
  text-align: center;
  
}

body {
  background-color: #797e7e;
  margin: 0;
  color: white;
}

.inner-div {
  background-color: #333;
  position: fixed;
  top: 20px;
  left: 0;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  text-align: center;
}

.tab {
  text-decoration: solid;
  color: white;
}

.editbtn, .newproductbtn, .deletebtn {
  background-color: rgb(248, 248, 248);
  border: none;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-right: 6px;
  margin-top: 7px;
}

.editbtn:hover, .newproductbtn:hover, .deletebtn:hover {
  background-color: rgb(210, 210, 210);
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product-wrapper {
  margin: 10px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product {
  margin-left: 10px;
  border-radius: 10px;
  /* background-image: url('images/silver-watch.jpg'); */
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 300px;
  margin-right: 100px;
  margin-left: 100px;
  transition: box-shadow 0.3s ease-in-out;
}

.product-image {
  margin-left: 10px;
  border-radius: 10px;
  /* background-image: url('images/silver-watch.jpg'); */
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 250px;
  margin-right: 100px;
  margin-left: 100px;
  transition: box-shadow 0.3s ease-in-out;
}

.product-image:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.price {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 150;
}

.price-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.product-name {
  margin-top: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 150;
  text-align: center;
  height: 25px;
}

.product-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.product-details-image {
  margin-left: 100px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 550px;
}

.product-details-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about {
  padding: 10px;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 100px;
  height: 450px;
  width: 450px;
}

.PDname {
  font-size: 35px;
  font-weight: 200;
}

.PDdescription {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 125;
  border-bottom: 2px solid black;
  padding-bottom: 40px;
}

.PDprice {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 250;
}

.PDavailable {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.check {
  margin-top: 15px;
  font-size: 30px;
}

.PDavailable-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 150;
}

.PDfavourite {
  margin-top: 15px;
  font-size: 30px;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.PDprice-div {
  display: flex;
  flex-direction: column;
}

.PDprice-text {
  font-size: 20px;
  font-weight: 150;
  margin-top: 50px;
}

.PDfavourite-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.PDfavourite-text {
  font-size: 20px;
  font-weight: 150;
  margin-top: 50px;
}

.in-stock {
  font-size: 20px;
  font-weight: 150;
  margin-top: 17px;
  margin-right: 10px;
}
 
.PDinventory {
  display: flex;
  justify-content: space-between;
  
}

.add-to-cart {
  color: rgb(0, 0, 0);
  margin-top: 15px;
  padding: 7px 15px;
  height: 40px;
  width: 130px;
  font-size: 14px;
  font-weight: 100;
  border: 0px;
  transition: background-color 0.5s ease;
  background-color: rgb(242, 242, 242);
}

.add-to-cart:hover {
  background-color: rgb(186, 186, 186);
}

.productForm {
  display: flex;
  flex-direction: column;
  border-color: black;
  margin-bottom: 10px;
  margin-left: 30%;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
  width: fit-content;
  text-align: center;
}

.field {
  border-radius: 2px;
  height: 23px;
  border-color: black;
  margin-bottom: 10px;
  width: 60%;
} 

.submitbtn {
  background-color: rgb(248, 248, 248);
  border: none;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-right: 6px;
  margin-top: 7px;
  width: 10%;
  align-items: flex-end;
}

.order-box {
  margin: 10px;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.cart-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  width: 250px;
  margin-top: 35px;
  font-size: 20px;
}

.cart-product-price {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

.cart-product-div {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  margin-bottom: 50px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 15px;
  height: 350px;
  margin-left: 150px;
  margin-right:150px;
  transition: background-color 0.5s ease;
}

.cart {
  margin-top: 100px;
}

.empty-cart {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px
}

.cart-product-div:hover {
  background-color: rgb(210, 210, 210);
}

.cart-image {
  height: 275px;
  width: 275px;
  margin-top: 15px;
  margin-right: 15px;
  color: white;
}

.trash-can {
  margin-left: 35px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: rgb(109, 109, 109);
  transition: color 0.5s ease;
  margin-right: 25px;
}

.trash-can:hover {
  color: rgb(255, 255, 255)
}

.cart-heart {
  font-size: 25px;
  margin-top: 40px;
  margin-left: 500px;
  color: rgb(109, 109, 109);
  transition: color 0.5s ease;
}

.cart-heart:hover {
  color: red
}

.quantity-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  width: 80px;
}

.quantity-button {
  border: none;
}

.number {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 150
}

.quantity-button:hover {
  background-color: rgb(186, 186, 186);
}

.add-to-cart:disabled {
  color: rgba(0, 0, 0, 0.311);
  background-color: rgb(237, 237, 237);
}

.add-to-cart:hover:disabled {
  background-color: rgb(237, 237, 237); 
}

.total-price {
  margin-left: 150px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.final-price {
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
}

.checkout-button {
  background-color: rgb(242, 242, 242);
  width: 150px;
  height: 50px;
  margin-top: 15px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 250;
  border: none;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.final-items {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}

.checkout-button:hover {
  background-color: rgb(186, 186, 186);
}

.favourite-delete-button {
  margin-left: 10px;
  padding: 5px 11px;
  border: none;
  height: 30px;
  width: 70px;
  transition: background-color 0.5s ease;
}

.favourite-delete-button:hover {
  background-color: rgb(144, 144, 144);
}

